html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.music{
    width: 60px;
    height: 60px;
    position: fixed;
    top:10px;
    left: 80%;
    z-index: 9;
}
.img2{
    width: 44px;
    height: 44px;
    position: absolute;
    top:8px;
    left: 8px;
    animation: run 6s infinite linear;
}
@keyframes run{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.img1{
    width: 60px;
    height: 60px;
}
.one{
    background: url("../img/img/true%20(13).jpg");
    background-size: 100% 100%;
}
.one_kuang img{
    width:90%;
    height:90%;
    position: absolute;
    left:5%;
    top:5%;
}
.one_img1{
    width:36%;
    height:35%;
    position: absolute;
    left:32%;
    top:15%;
}
.one_img2{
    width:30%;
    height:30%;
    position: absolute;
    left:35%;
    top:17%;
}
.one_text1{
    position: absolute;
    font-size:13vw;
    top:20%;
    left: 44%;
    font-family: 方正行楷简体;
}
.two{
    background: url("../img/img/true%20(14).jpg");
    background-size: 100% 100%;
}
.two_img1{
    width: 54%;
    height: 44%;
    position: absolute;
    left: 39%;
    top: 50%;
}
.two_img2{
    width: 54%;
    height: 44%;
    position: absolute;
    left: 8%;
    top: 6%;
}

.two_span{
    width: 8%;
    position: absolute;
    font-family: 方正行楷简体;
    left:75%;
    top:10%
}
.three{
    background: url("../img/img/true%20(16).jpg");
    background-size: 100% 100%;
}
.three_img1{
    width: 78%;
    height: 44%;
    position: absolute;
    left: 12%;
    top: 9%;
}
.three_text{
    position: absolute;
    left: 27%;
    width: 50%;
    height: 10%;
    top: 54%;
    display: block;
    font-family: 方正行楷简体;
    font-size: 5vw;
}
.three_img2{
    position: absolute;
    width: 45%;
    height: 18%;
    left: 26%;
    top: 26%;
    transform: rotate(-9deg);
}
.four{
    background: url("../img/img/true%20(1).jpg");
    background-size: 100% 100%;
}
.four_img1{
    width: 82%;
    height: 30%;
    position: absolute;
    left: 9%;
    top: 62%;
}
.four_img2{
    width: 82%;
    height: 30%;
    position: absolute;
    left: 9%;
    top:10%
}
.four_text1{
    width: 81%;
    height: 20%;
    position: absolute;
    font-family: 方正行楷简体;
    font-size: 5vw;
    left: 9%;
    top: 44%;
}
.five{
    background: url("../img/img/true%20(12).jpg");
    background-size: 100% 100%;
}
.five_img1{
    position: absolute;
    width: 68%;
    height: 41%;
    left: 11%;
    top: 22%;
}
.five_img2{
    position: absolute;
    width: 49%;
    height: 21%;
    left: 6%;
    top: 62%;
}
.five_img6{
    position: absolute;
    width: 34%;
    height: 12%;
    left: 14%;
    top: 66%;
}
.five_img3{
    position: absolute;
    width: 42%;
    height: 18%;
    left: 49%;
    top: 73%;
    /*transform: rotate(-26deg);*/
}
.five_img5{
    position: absolute;
    width: 28%;
    height: 11%;
    left: 56%;
    top: 76%;
}
.five_img4{
    position: absolute;
    width: 49%;
    height: 19%;
    left: 19%;
    top: 35%;
    z-index: 1;
    transform: rotate(11deg);
}
.six{
    background: url("../img/img/true%20(21).jpg");
    background-size: 100% 100%;
}
.six-img1{
    position: absolute;
    width: 79%;
    height: 16%;
    left: 11%;
    top: 9%;
}
.six-text1{
    position: absolute;
    font-family: 方正行楷简体;
    font-size: 7vw;
    left: 21%;
    top: 15%;
    transform: rotate(-4deg);
    color: #fff;
}
.six-text2{
    position: absolute;
    font-family: 方正行楷简体;
    font-size: 5vw;
    left: 21%;
    top: 73%;
}
.six-img2{
    width: 27%;
    height: 26%;
    position: absolute;
    left:21%;
    top: 24%;
    border: 5px solid #fff;
}
.six-img3{
    width: 27%;
    height: 26%;
    position: absolute;
    left: 52%;
    top: 24%;
    border: 5px solid #fff;
}
.six-img4{
    width: 60%;
    height: 20%;
    position: absolute;
    left: 21%;
    top: 51%;
    border: 5px solid #fff;
}
.seven{
  background: url("../img/img/true%20(11).jpg");
    background-size: 100% 100%;
}
.seven-img1{
    position: absolute;
    width: 56%;
    height: 34%;
    top: 54%;
    left: 22%;
    border: 5px solid #fff;
}
.seven-text1{
    position: absolute;
    top: 16%;
    left: 30%;
    font-family: 方正行楷简体;
    font-size: 7vw;
}
.seven-text2{
    position: absolute;
    top: 28%;
    left: 21%;
    font-family: 方正行楷简体;
    font-size: 5vw;
}
.eight{
   background: url("../img/img/true%20(13).jpg");
    background-size: 100% 100%;
}
.eight-img1{
    position: absolute;
    width: 69%;
    height: 40%;
    top: 14%;
    left: 17%;
}
.eight-text1{
    position: absolute;
    width: 69%;
    height: 40%;
    top: 30%;
    left: 17%;
    font-size: 11vw;
    font-family: 方正行楷简体;
}
.eight-img2{
    position: absolute;
    width: 64%;
    height: 36%;
    top: 16%;
    left: 20%;
    border-radius: 50%;
}

.swiper-button-next{
    position: absolute;
    top: auto;
    bottom: 2%;
    left: 50%;
    transform: rotate(-90deg);
    margin-left: -13.5px;
    animation: a 2s linear infinite;
}
@keyframes a{
    from{
        opacity: 1;
        transform: translate(0,0) rotate(-90deg);
    }
    to{
        opacity: 0.1;
        transform: translate(0,-20px) rotate(-90deg);
    }
}
